<div class="parellax"></div>
<div class="textA">
<h3><ul>
	<li>we are the world trveller</li>
	<li>we trip from india to atlantica</li>
	</ul>
</h3></div>
<div class="parellax1"></div>
<div class="textA"><h3>some random text</h3></div>
<div class="parellax2"></div>
<style>
.parellax{
	background-image: url("assets/images/travel3.jpg");
	min-height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parellax1{
	background-image: url("assets/images/travell1.jpg");
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parellax2{
	background-image: url("assets/images/img1.jpg");
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.textA{
	height: 250px;
	background-color: white;
	opacity: 0.5;
}
	
</style>