<style>
.gallaryDiv{
	margin-top: 50px;
	background-color: white;
	min-height: 600px;
	margin-top: 50px;
}
.imagelogo{
	margin-top: 20%;
	margin-left: 45%;
}

img{
	max-width: 400px;
	max-height: 276px;
}
img:hover{
	opacity: 0.5;
	box-shadow:10px 10px 5px #000000;
}
.margindivs{
	margin-top: 30px;
}
/*.txt{
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 10%;
}*/

</style>

<div class="gallaryDiv">
	
	<div ng-hide="data2">
		<img  class="imagelogo" src="assets/images/Preloader_3.gif">
	</div>
	<div ng-show="data2">
		<div class="w3-row">
			<div class="w3-col l4 s12 allimgs w3-center"><img class	="img-responsive " src="assets/images/g2.jpg"></div>
			<div class="w3-col l4 s12 allimgs w3-center"><img class="img-responsive"src="assets/images/g3.jpg"></div>
			<div class="w3-col l4 s12 allimgs w3-center"><img class="img-responsive"src="assets/images/g4.jpg"></div>
		</div>
		<div class="w3-row margindivs">
			<div class="w3-col l4 s12 allimgs w3-center"><img class	="img-responsive " src="assets/images/g5.jpg"></div>
			<div class="w3-col l4 s12 allimgs w3-center"><img class="img-responsive"src="assets/images/g6.jpg"></div>
			<div class="w3-col l4 s12 allimgs w3-center"><img class="img-responsive" width="450px;" src="assets/images/manali.jpg"></div>
		</div>
		<div class="w3-row margindivs">
			<div class="w3-col l4 s12 allimgs w3-center"><img class	="img-responsive " src="assets/images/g7.jpg"></div>
			<div class="w3-col l4 s12 allimgs w3-center"><img class="img-responsive"src="assets/images/g9.jpg"></div>
			<div class="w3-col l4 s12 allimgs w3-center"><img class="img-responsive"src="assets/images/g10.jpg"></div>
		</div>
		<div class="w3-row margindivs">
			<div class="w3-col l4 s12 allimgs w3-center"><img class	="img-responsive " src="assets/images/g11.jpg"></div>
			<div class="w3-col l4 s12 allimgs w3-center"><img class="img-responsive"src="assets/images/g12.jpg"></div>
			<div class="w3-col l4 s12 allimgs w3-center"><img class="img-responsive"src="assets/images/g4.jpg"></div>
		</div>
		</div>
</div>