<div>
	<img src="{{img}}"/>
	<button  class="w3-button w3-blue w3-round" ng-click="left()"><</button>
	<button  class="w3-button w3-blue w3-round rightbtn" ng-click="right()">></button>	
</div>
<div class="events well"><h1>Seafarer</h1></div>
<div><p class="w3-left-align w3-margin">SEAFARER- the NGO is a Non - Profit Organisation being run by young individuals with a vision to enhance the good qualities lying within the Youth of India for a constructive and better future of the Nation. Embracing the theme of ‘Youth Empowerment’ and keeping the moral values and ethics in centre; the NGO will prove to be a benchmark in training the Young citizens especially the students to make them understand their need for the society and thereby serve the Nation in whole.</p></div>
<style>
img{
		width: 100%;
		max-height: 600px;
		z-index: 1
		
}
button{
	position: absolute;
	z-index: 2;
	top: 50%;
}
.rightbtn{
	right: 0;
}
.events{
	margin-top: 50px;
}
p{
	font-size: 17px;
}
</style>

